*{
    margin: 0;
    padding: 0;  
}

body{
    background-image: url(http://www.psdgraphics.com/file/rainbow-colors.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0px;
    
}

button {
    background-color: #76dbd1; 
    border: 2px solid black;
    color: black;
    padding: 10px 25px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {
    background-color: #8A2A1D;
  color: white;

}


.imagen {
    text-align: center;
}

.caja {
    text-align: center;
}

Header {
    font-size: 60px;
    background-color: #ecf4f3;
    width: 100%;
    padding: 20px;
    height: 50px;
    border: 2px solid black;
    text-align: center;
    
    
}

.main {
    text-align: center;
    background: #76dbd1;
    padding: 10px;

    
    
}

input{
    text-align: center;
    width: 10%;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: #76dbd1;
    -webkit-box-shadow: -15px 13px 23px 1px rgba(0,4,5,1);
    -moz-box-shadow: -15px 13px 23px 1px rgba(0,4,5,1);
    box-shadow: -15px 13px 23px 1px rgba(0,4,5,1);
    
}
